<script type="text/x-handlebars" data-template-name="application">

  <div id="content">

    {{view App.LogoView}}

    {{view App.TabView}}

    {{view App.SliderView}}

    {{outlet}}

  </div>

</script>