<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Canonical Ember.js routing example</title>

  <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Doppio+One' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi" />

</head>
<body>

  <%= yield %>

</body>
</html>